<!-- <div class="hero-foot">
    <nav class="tabs">
        <div class="container">
            <ul>
                <li class='li-item'> <a>Este Projeto Utiliza:</a></li>
                <li class='li-item'> <a>NodeJS</a></li>
                <li class='li-item'> <a>Express</a></li>
                <li class='li-item'> <a>EJS</a></li>
                <li class='li-item'> <a>Bulma</a></li>
                <li class='li-item'> <a>CI/CD</a></li>
                <li class='li-item'> <a>Jest</a></li>
                <li class='li-item'> <a>Consumo de API: Axios</a></li>
                <li class='li-item'> <a>JQuery</a></li>
                <li class='li-item ml-6'> <a class='linkCursor'
                        href='https://github.com/RenatoSiqueira/DevPleno_ConvertMyMoney'>
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        See on Github</a></li>
            </ul>
        </div>
    </nav>
</div>
</section> -->

</body>
</html>